.ReactModalPortal>div {
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	align-items     : center;
	background-color: rgba($dark-blue, 0.75) !important;
	display         : flex;
	justify-content : center;
	transition      : opacity 400ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal {
	max-width       : 30rem;
	background-color: $off-white;
	color           : #fff;
}

.modal__body {
	margin-bottom: $s-size;
	color        : $dark-grey;

	button {
		margin-right: $s-size;
	}

	span {
		font-weight: 700;
	}
}

.modal__title {
	font-size       : $font-size-large;
	background-color: $dark-blue;

	h3 {
		margin: 0;
	}
}